@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #0e1629;
  box-sizing: border-box;
}
.my-component {
  background: #fff;
}

.fullscreen-enabled .my-component {
  background: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}